.about {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    height: 30%;


}

.first__row {
    font-style: normal;
    box-sizing: border-box;
    border-radius: 0.5px;
    background-color: rgba(145, 143, 236, 0.318);
    justify-content: center;
    padding: 5px 5px;
    height: 70%;
    width: 25%;
    background-image: url("https://i.pinimg.com/564x/7a/60/1c/7a601c992e33493b405d3c766ceef66f.jpg");
    /* opacity: 15px; */
    background-size: cover;
    /* box-shadow: inset 5 5 5 5000px rgba(255, 0, 150, 0.3); */
    color: aliceblue;
    background-blend-mode: overlay;

}


.second__row {
    font-style: normal;
    box-sizing: border-box;
    border-radius: 0.5px;
    background-color: rgba(94, 93, 98, 0.318);
    box-shadow: 15px;
    justify-content: center;
    padding: 5px 5px;
    height: 70%;
    width: 25%;


}

.title {
    font-size: larger;
    margin: 20px 5px;
}

.desc {
    font-style: bold;
    text-align: justify;
    font-size: medium;
    margin: 20px 5px;
}

.create__design {
    align-items: center;
    margin: 18px 5px;
    padding-bottom: 8px;
    border: 0px;
}